@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
    <title>登录</title>
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-3.4.1-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            font-weight:900;
            font-size:24px;
        }
        h1 {
            font-size:80px;
            color:white;
            font-weight:900;
            text-align:center;
            position:absolute;
            width:700px;
            top:100px;
            left:0px;
            right:0px;
            margin:0 auto;
            letter-spacing:30px;
        }
        .btn {
            background-color: #8ae7ed;
            padding: 15px 50px;
            font-size: 20px;
            font-weight: 900;
        }
        body {
            background-image:url(../../Images/背景.jpg);
            background-size:100%;
            background-repeat:no-repeat;
        }
        .tb {
            width: 40%;
            margin-top: 13%;
            text-align: center;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
            backdrop-filter: blur(50px);
        }
        .tb tr {
            height:100px;
        }
        .tishi, .tishi2 {
            display: none;
            position: absolute;
            width: 400px;
            color: white;
            text-align: center;
            padding: 0px 10px;
            line-height: 50px;
            height: 50px;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin: auto;
            z-index: 10;
            border-radius: 50px;
            background-color: #fc5c65;
            box-shadow: 0 5px 15px rgba(20, 20, 20, 0.8);
            backdrop-filter: blur(50px);
        }
        
    </style>
</head>
<body>
    @*错误提示*@
    <div class="tishi">
        <img style="width:50px;height:50px" src="~/Images/苦脸.svg" />
        <span id="text_ti">账号或密码错误,请检查!</span>
    </div>
    @*成功提示*@
    <div class="tishi2" style="background-color:aquamarine">
        <img style="width:50px;height:50px" src="~/Images/笑脸.svg" />
        <span id="text_ti2">登录成功!</span>
    </div>
    @*登录*@
    <script>
        //错误提示
        function x() {
            $('.tishi').fadeIn(700, function () {
                setTimeout(function () {
                    $('.tishi').fadeOut(700);
                }, 700)
            });
        }
        function x2() {
            $('.tishi2').fadeIn(700, function () {
                setTimeout(function () {
                    $('.tishi2').fadeOut(700);
                }, 700)
            });
        }
        //登录方法
        function denglu() {
            var username = $("#d_phone").val()
            var pwd = $("#d_pwd").val()
            jQuery.ajax({
                url: "/Login/check",
                type: "POST",
                data: { username, pwd },
                success: function (date) {
                    if (date == "1") {
                        $("#text_ti").html("账号或密码不能为空!")
                        x()
                    } else {
                        if (date == "2") {
                            $("#text_ti").html("账号或密码错误,请检查!")
                            x()
                        }
                        else {
                            if (date == "3") {//用户登录成功
                                $("#text_ti2").html("登录成功!")
                                x2()
                                location.href = "/User/Index"
                            } else {
                                if (date == "4") {//管理员登录成功
                                    $("#text_ti2").html("登录成功!")
                                    x2()
                                    location.href = "/Boss/Index"
                                } else {
                                    if (date == "5") {//用户没绑定房间
                                        $("#text_ti").html("未绑定房间,请联系管理员!")
                                        x()
                                    }
                                }
                            }
                        }
                    }
                },
                error: function (xhr, error, ex) {
                    $("#text_ti").html("出现错误!")
                    x()
                }
            })
        }
    </script>
    <h1 class="animate__animated  animate__flipInX ">电费缴纳</h1>

    <form id="denglu" action="~/Login/Index" method="post">
        <div class="animate__animated  animate__fadeInDown" style="width:100%;display:flex;justify-content:center;">
            <table class="tb">
                <tr>
                    <td style="text-align:right;width:150px">
                        手机号:
                    </td>
                    <td>
                        <input id="d_phone" type="text" name="phone" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;width:150px">
                        密&nbsp;&nbsp;&nbsp;码:
                    </td>
                    <td>
                        <input id="d_pwd" type="password" name="pwd" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="btn" type="button" onclick="denglu()" value="登录" />
                    </td>
                </tr>
                <tr style="height:50px;">
                    <td colspan="2">
                        还没有账号? <a id="btnzhuce"> 立即注册</a>
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <form id="zhuce" action="~/Login/Index" method="post" style="display:none">
        <div class="animate__animated    animate__fadeIn  " style="width:100%;display:flex;justify-content:center;">
            <table class="tb">
                <tr>
                    <td style="text-align:right;width:150px">
                        姓&nbsp;&nbsp;&nbsp;名:
                    </td>
                    <td>
                        <input id="z_name" type="text" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;width:150px">
                        手机号:
                    </td>
                    <td>
                        <input id="z_phone" type="text" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;width:150px">
                        密&nbsp;&nbsp;&nbsp;码:
                    </td>
                    <td>
                        <input id="z_pwd" type="text" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;width:150px">
                        管理员号:
                    </td>
                    <td>
                        <input id="z_guanli" type="text" />
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td colspan="2">
                        <input type="button" class="btn" id="fanhui" value="返回" />
                        <input type="button" id="zhucebtn" onclick="zhuce()" class="btn" value="提交" />
                        @*注册*@
                        <script type="text/javascript">
                            //验证手机号
                            function isPhoneNo(phone) {
                                var pattern = /^1[34578]\d{9}$/;
                                return pattern.test(phone);
                            }
                            function zhuce() {
                                var name = $("#z_name").val().trim()
                                var phone = $("#z_phone").val().trim()
                                var pwd = $("#z_pwd").val().trim()
                                var guan = $("#z_guanli").val().trim()
                                //非空
                                if (name == "" || phone == "" || pwd == "" || guan == "") {
                                    $("#text_ti").html("请将信息填充完整")
                                    x()
                                } else {
                                    //非法输入
                                    if (name.indexOf("<") != -1 || phone.indexOf("<") != -1 || pwd.indexOf("<") != -1 || guan.indexOf("<") != -1) {
                                        $("#text_ti").html("含有非法字符< & @@!")
                                        x()
                                    } else {
                                        if (name.length > 15) {
                                            $("#text_ti").html("名字长度超出!")
                                            x()
                                        } else {
                                        if (!isPhoneNo(phone)) {
                                            $("#text_ti").html("手机号错误")
                                            x()
                                        } else {
                                            if (pwd.length < 6) {
                                                $("#text_ti").html("密码需大于6位字符")
                                                x()
                                            } else {
                                                if (guan.length != 11) {
                                                    $("#text_ti").html("管理员号码错误")
                                                    x()
                                                } else {
                                                    //管理员账号提交到后台
                                                    jQuery.ajax({
                                                        url: "/Login/zhuce",
                                                        type: "POST",
                                                        data: { name, phone, pwd, guan },
                                                        success: function (date) {
                                                            if (date == "1") {
                                                                $("#text_ti").html("该号码已被注册")
                                                                x()
                                                            } else {
                                                                if (date == "2") {
                                                                    $("#text_ti").html("未查询到管理员号码")
                                                                    x()
                                                                } else {
                                                                    if (date == "3") {
                                                                        $("#text_ti2").html("提交成功!等待管理员审核")
                                                                        x2()
                                                                    } else {
                                                                        if (date=="4") {
                                                                            $("#text_ti").html("请勿重复提交!")
                                                                            x()
                                                                        }
                                                                    }
                                                                }
                                                                // location.href = "Login/Home"
                                                            }
                                                        },
                                                        error: function (xhr, error, ex) {
                                                            $("#text_ti").html("出现错误")
                                                            x()
                                                        }
                                                    })
                                                }
                                            }
                                            }
                                        }
                                    }
                                }
                            }
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    @*登录注册*@
    <script type="text/javascript">
        $("#btnzhuce").click(function () {
            $("#denglu").hide();
            $("#zhuce").show();
        })
        $("#fanhui").click(function () {
            $("#denglu").show();
            $("#zhuce").hide();
        })

    </script>
</body>
</html>
